<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="referrer" content="origin-when-cross-origin">
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', {
        page: 'registrators'
      }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0">Yangi foydalanuvchi qo'shish</h6>
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <div class="dashboard__card bg-white p-3 rounded mx-n3">
                  <form method="POST" enctype="multipart/form-data" action="<%= api("users/user") %>">
                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">
                        Malumotlar
                      </h6>
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-success text-white">ISM</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Ism" name="name" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-success text-white">FAMILIYA</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Familiya" name="surname" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-success text-white">SHARIF</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Sharif" name="middleName" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-success text-white">JINSI</span>
                            </div>
                            <select name="gender" class="custom-select" required>
                              <option value="male">Erkak</option>
                              <option value="female">Ayol</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-success text-white">Tug'...kun</span>
                            </div>
                            <input type="date" id="birthday-input" class="form-control" name="birthDate" required placeholder="<%= __("birthDate") %>">
                          </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-success text-white"><%= __("territory") %></span>
                            </div>
                            <select name="territory" class="custom-select">
                              <option disabled selected><%= __("choose") %></option>
                              <% territories.forEach(x => { %>
                               <option value="<%= x._id %>" <% if (x.registrator?._id) { %>disabled<% } %>><%= x.region[`name_${getLocale()}`] %> / <%= x.city[`name_${getLocale()}`] %></option>
                              <% }) %>
                            </select>
                          </div>
                        </div> -->
                      </div>
                    </div>

                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">
                        Kontakt
                      </h6>
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-danger text-white">TELEFON</span>
                            </div>
                            <input type="text" class="form-control phone-input-mask" placeholder="+998" name="phoneNumber" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-danger text-white">EMAIL</span>
                            </div>
                            <input type="email" class="form-control" placeholder="example@mail.com" name="email" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-danger text-white"><i class="fas fa-image"></i></span>
                            </div>
                            <div class="custom-file">
                              <input type="file" id="avatar-input" class="custom-file-input" placeholder="Rasm yuklash" name="photo" required>
                              <label class="custom-file-label" for="avatar-input"></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">
                        Referal
                      </h6>
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-warning text-white">Kim taklif qilgan?</span>
                            </div>
                            <input type="email" class="form-control" name="whoInvited" placeholder="example@.gmail.com" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-warning text-white">Obuna</span>
                            </div>
                            <input type="email" class="form-control" name="following" placeholder="example@.gmail.com" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-warning text-white">Obuna tomoni</span>
                            </div>
                            <select name="followingSide" class="custom-select" required>
                              <option value="right">O'ng</option>
                              <option value="left">Chap</option>
                            </select>
                          </div>
                        </div>
                        <% if (locals.user?.role === "admin") { %>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white">Lavozim</span>
                              </div>
                              <select name="role" class="custom-select" required>
                                <option value="watcher" selected><%= __("watcher") %></option>
                                <option value="admin">Admin</option>
                                <option value="registrator">Registrator</option>
                              </select>
                            </div>
                          </div>
                        <% } %>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-warning text-white">Status</span>
                            </div>
                            <select name="status" class="custom-select" required>
                              <option value="client" selected><%= __("client") %></option>
                              <option value="partner">Partner</option>
                              <option value="master">Master</option>
                              <option value="manager">Manager</option>
                            </select>
                          </div>
                        </div>
                      </div>  
                    </div>

                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">
                        Autentifikatsiya
                      </h6>
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-primary text-white">Parol</span>
                            </div>
                            <input type="password" class="form-control" name="password" required>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-primary text-white">Parolni qaytaring</span>
                            </div>
                            <input type="password" class="form-control" name="passwordConfirm" required/>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary text-uppercase">Saqlash</button>

                  </form>
                </div>
              </div>

              <%- include('../../components/right-sidebar.ejs') %> 
            </div>
          </div>
        </div>
      </main>
    </div>

    <% if (locals.error) { %>
      <%- include('../../components/toast.ejs', {
        type: "danger",
        content: __(error)
      }) %> 
    <% } %>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
