<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', {
        page: viewUser.role === "watcher" ? "home" : "users"
      }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0"><%= viewUser.name %> <%= viewUser.surname %> <%= viewUser.middleName %> </h6>
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <% if (locals.error) { %>
                  <%- include('../components/alert.ejs', {
                    dismissable: true,
                    type: "danger",
                    content: __(error)
                  }) %> 
                <% } %>

                <% if(locals.viewUser){ %>
                  <div class="dashboard__card bg-white p-3 rounded mx-n3">
                    <h6 class="title-left-stick mb-3">
                      <%= __("info") %>
                    </h6>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="media">
                          <img width="150" height="150" class="img-thumbnail object-fit-cover mr-3" src="<%= viewUser.photo %>" alt="<%= viewUser.name %>">
                          <div class="media-body">
                            <h5 class="mt-0"><%= `${viewUser.surname} ${viewUser.name}` %></h5>
                            <p class="mb-2"><strong><%= __("email") %>: </strong> <a href="/dashboard/users/id/<%= viewUser._id %>"><%= viewUser.email %></a></p>
                            <p class="mb-2"><strong><%= __("status") %>: </strong><%= viewUser.status %></p>
                            <% if (viewUser.followers.length) { %>
                              <div class="mb-3">
                                <h6><%= __("addedUsers") %></h6>
                                <div class="added-users">
                                  <% for( let i = 0; i < 4; i++ ) { %>
                                    <% if (viewUser.followers[i]) { %>
                                      <a href="/dashboard/users/id/<%= viewUser.followers[i]._id %>" class="img-wrapper">
                                        <img src="<%= viewUser.followers[i].photo %>" alt="<%= viewUser.followers[i].name %>"/>
                                      </a>
                                    <% } %>
                                  <% } %>
                                  
                                  <% if (viewUser.followers.length > 4) { %>
                                    <a href="/dashboard/users?following=<%= email %>" class="img-wrapper"><%= viewUser.followers.length - 4 %></a>
                                  <% } %>
                                  
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <% if (following) { %>
                        <div class="col-md-6 col-sm-12">
                          <div class="media">
                            <img width="150" height="150" class="img-thumbnail object-fit-cover mr-3" src="<%= following.photo %>" alt="<%= following.name %>">
                            <div class="media-body">
                              <h5 class="mt-0"><%= __("invited") %>: <%= `${following.surname} ${following.name}` %></h5>
                              <p class="mb-2"><strong><%= __("email") %>: </strong> <a href="/dashboard/users/id/<%= following._id %>"><%= following.email %></a></p>
                              <p class="mb-2"><strong><%= __("status") %>: </strong><%= following.status %></p>
                              <% if (following.followers.length) { %>
                                <div class="mb-3">
                                  <h6>Qo'shgan profillari</h6>
                                  <div class="added-users">
                                    <% for( let i = 0; i < 4; i++ ) { %>
                                      <% if (following.followers[i]) { %>
                                        <a href="/dashboard/users/id/<%= following.followers[i]._id %>" class="img-wrapper">
                                          <img src="<%= following.followers[i].photo %>" alt="<%= following.followers[i].name %>"/>
                                        </a>
                                      <% } %>
                                    <% } %>
                                    
                                    <% if (following.followers.length > 4) { %>
                                      <a href="/dashboard/users?following=<%= email %>" class="img-wrapper"><%= following.followers.length - 4 %></a>
                                    <% } %>
                                    
                                  </div>
                                </div>
                              <% } %>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>
                  <div class="dashboard__card bg-white p-3 rounded mx-n3">
                    <form method="POST" enctype="multipart/form-data" action="<%= api("users/user/edit") %>">
                      <input type="hidden" value="<%= viewUser._id %>" name="id">
                      <div class="mb-4">
                        <h6 class="title-left-stick mb-3">
                          <%= __("info") %>
                        </h6>
                        <div class="row">
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("name") %></span>
                              </div>
                              <input type="text" class="form-control" placeholder="<%= __("name") %>" name="name" required value="<%= viewUser.name %>">
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("surname") %></span>
                              </div>
                              <input value="<%= viewUser.surname %>" type="text" class="form-control" placeholder="<%= __("surname") %>" name="surname" required>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("middleName") %></span>
                              </div>
                              <input value="<%= viewUser.middleName %>"" type="text" class="form-control" placeholder="<%= __("middleName") %>" name="middleName" required>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("gender") %></span>
                              </div>
                              <select name="gender" class="custom-select" required>
                                <option value="male" <% if (viewUser.gender === "male") { %>selected<% } %>><%= __("male") %></option>
                                <option value="female" <% if (viewUser.gender === "female") { %>selected<% } %>><%= __("female") %></option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("birthDate") %></span>
                              </div>
                              <input type="date" value="<%= new Date(viewUser.birthDate).toISOString().substr(0,10) %>" id="birthday-input" class="form-control" name="birthDate" required>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("territory") %></span>
                              </div>
                              <select name="territory" class="custom-select">
                                <option disabled selected><%= __("choose") %></option>
                                <% territories.forEach(x => { %>
                                 <option value="<%= x._id %>" <% if (x.registrator?._id && viewUser.role === "registrator") { %>disabled<% } %> <% if (x?._id.equals(viewUser.territory?._id)) { %>selected<% } %>><%= x.region[`name_${getLocale()}`] %> / <%= x.city[`name_${getLocale()}`] %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
   
                      <div class="mb-4">
                        <h6 class="title-left-stick mb-3">
                          <%= __("contact") %>
                        </h6>
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white"><%= __("phoneNumber") %></span>
                              </div>
                              <input value="<%= viewUser.phoneNumber %> " type="text" class="form-control phone-input-mask" placeholder="+998" name="phoneNumber" required>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white"><%= __("email") %></span>
                              </div>
                              <input disabled value="<%= viewUser.email %> " type="email" class="form-control" placeholder="example@mail.com" name="email" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <img src="<%= viewUser.photo %>" alt="<%= viewUser.name %>" width="200" height="200" class="img-thumbnail mb-2">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white">
                                  <i class="fas fa-image"></i>
                                </span>
                              </div>
                              <div class="custom-file">
                                <input type="file" id="avatar-input" class="custom-file-input" placeholder="<%= __("uploadPhoto") %>" name="photo">
                                <label class="custom-file-label" for="avatar-input"></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
   
                      
                      <% if (locals.user?.role === "admin") { %>
                      <div class="mb-4">
                        <h6 class="title-left-stick mb-3">
                          <%= __("referal") %>
                        </h6>
                        <div class="row">
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white"><%= __("role") %></span>
                              </div>
                              <select name="role" class="custom-select" required>
                                <option value="watcher" selected <% if (viewUser.role === "watcher") { %>selected<% } %>><%= __("watcher") %></option>
                                <option value="admin" <% if (viewUser.role === "admin") { %>selected<% } %>><%= __("admin") %></option>
                                <option value="registrator" <% if (viewUser.role === "registrator") { %>selected<% } %>><%= __("registrator") %></option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white">Status</span>
                              </div>
                              <select name="status" class="custom-select" required>
                                <option value="client" selected <% if (viewUser.status === "client") { %>selected<% } %>><%= __("client") %></option>
                                <option value="partner" <% if (viewUser.status === "partner") { %>selected<% } %>><%= __("partner") %></option>
                                <option value="master" <% if (viewUser.status === "master") { %>selected<% } %>><%= __("master") %></option>
                                <option value="manager" <% if (viewUser.status === "manager") { %>selected<% } %>><%= __("manager") %></option>
                              </select>
                            </div>
                          </div>
                                                  
                        </div>  
                      </div>
                      <% } %>    
   
                      <button type="submit" class="btn btn-primary text-uppercase"><%= __("save") %></button>
   
                    </form>
                  </div>

                  <% if (viewUser._id.equals(locals.user._id)) { %>
                    <div class="dashboard__card bg-white p-3 rounded mx-n3">
                      <h6 class="title-left-stick mb-3">
                        <%= __("password") %>
                      </h6>
                      <form method="POST" action="<%= api("users/user/change-password") %>">
                        <div class="row">
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("password") %></span>
                              </div>
                              <input type="password" class="form-control" placeholder="<%= __("password") %>" name="password" required>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white"><%= __("newPassword") %></span>
                              </div>
                              <input type="password" class="form-control" placeholder="<%= __("newPassword") %>" name="newPassword" required>
                            </div>
                          </div>                                                   
                        </div>
                        <button type="submit" class="btn btn-primary">
                          <%= __("save") %>
                        </button>
                      </form>
                    </div>
                  <% } %>

                <% } else{ %>  
                  <%- include('../components/alert.ejs', {
                    dismissable: true,
                    type: "danger",
                    content: __(locals.USER_DOES_NOT_EXIST)
                  }) %> 
               <% } %>

              </div>

              <%- include('../../components/right-sidebar.ejs') %> 
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
