<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'products' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0"> <%= __("products") %> </h6>
              <a href="products/add">
                <%= __("addNew") %>
                <i class="fas fa-user-plus"></i>
              </a>
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <div class="row">
                  <div class="col-lg-12 dashboard__card">
                    <div class="p-3 shadow-sm">
                      <div class="d-flex align-items-center mb-3">
                        <h6 class="title-left-stick mr-4"> <%= __("products") %> </h6>
                      </div>
                      <table
                        class="table table-responsive-md custom-table table-hover table-borderless table-sm"
                      >
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"><%= __("images") %></th>
                            <th scope="col"><%= __("title") %></th>
                            <th scope="col"><%= __("price") %></th>
                            <!-- <th scope="col">Soni</th> -->
                            <th scope="col"><%= __("actions") %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% products.forEach(pr => { %>
                            <tr>
                              <td>
                                <% pr.images.forEach(img => { %>
                                  <img
                                  src="<%= img %>"
                                  height="50"
                                  class="square-50 img-thumbnail object-fit-contain mr-1"
                                  alt="<%= pr.name %>"
                                />
                                <% }) %>
                              </td>
                              <td><a href="/dashboard/products/id/<%= pr._id %>"><%= pr.name %></a></td>
                              <td><%= pr.price %> <%= __("sum") %></td>
                              <!-- <td><%= pr.quantity %> </td> -->
                              <td>
                                <div class="d-flex justify-content-center">
                                  <div class="dropdown d-flex align-items-center">
                                    <a href="#" class="btn btn-danger btn-sm" id="dropDownDeleteConfirm"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trash"></i></a>
                                    <div class="dropdown-menu p-3" aria-labelledby="dropDownDeleteConfirm">
                                      <h6 class="text-center"><%= __("areYouSureToDelete") %></h6>
                                      <div class="d-flex justify-content-center">
                                        <form method="POST" action="<%= api("products/delete") %>" class="d-flex">
                                          <input type="hidden" name="id" value="<%= pr._id %>">
                                          <button type="submit" class="btn btn-danger btn-sm mr-1"><%= __("yes") %></button>
                                        </form>
                                       
                                        <a class="btn btn-success btn-sm ml-1" href="#"><%= __("no") %></a>
                                      </div>
                                    </div>
                                  </div>
                                  <a href="/dashboard/products/id/<%= pr._id %>" class="btn btn-warning btn-sm ml-2 d-block"><i class="fas fa-edit"></i></a>
                                </div>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            ><i class="fas fa-chevron-left"></i
                          ></a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#"
                            ><i class="fas fa-chevron-right"></i
                          ></a>
                        </li>
                      </ul>
                    </nav>
                  </div> -->
                </div>
              </div>
              <%- include('../../components/right-sidebar.ejs') %>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
