<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'warehouses' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0"><%= __("warehouses") %></h6>
              <a href="#warehouses-add" data-toggle="collapse">
                <%= __("addNew") %>
                <i class="fas fa-user-plus"></i>
              </a>
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <div class="row">
                  <div class="col-lg-12 dashboard__card collapse" id="warehouses-add">
                    <div class="p-3 shadow-sm">
                      <h6 class="title-left-stick mb-3"><%= __("addNew") %></h6>
                      <form method="POST" action="<%= api("warehouse/add") %>">
                        <div class="row">
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="region-input" class="form-label"
                              ><%= __("territory") %> </label
                            >
                            <select required name="territory" id="region-input" class="custom-select">
                              <% territories.forEach(x => { %>
                                <option value="<%= x._id %>"><%= x.region[`name_${getLocale()}`] %>/<%= x.city[`name_${getLocale()}`] %></option>
                              <% }) %>
                            </select>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="registrator" class="form-label"
                              ><%= __("title") %></label
                            >
                           <input required type="text" class="form-control" name="name" id="name-input"/>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-end">
                            <button type="submit" class="btn btn-success"><%= __("save") %></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-lg-12 dashboard__card">
                    <div class="p-3 shadow-sm">
                      <h6 class="title-left-stick mb-3"><%= __("warehouses") %></h6>
                      <table
                        class="table table-striped table-responsive-md custom-table table-hover"
                      >
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"><%= __("title") %></th>
                            <th scope="col"><%= __("territory") %></th>
                            <th scope="col"><%= __("registrator") %></th>
                            <th scope="col"><%= __("productsCount") %></th>
                            <% if (user.role === "admin") { %>
                              <th scope="col"><%= __("actions") %></th>
                            <% } %>
                          </tr>
                        </thead>
                        <tbody>
                          <% warehouses.forEach((x,i )=> { %>
                            <tr>
                              <td class="text-nowrap">
                                <a href="warehouses/id/<%= x._id %>" class="h6 small"
                                  ><%= x.name %></a
                                >
                              </td>
                              <td class="small text-nowrap"><%= `${getTerritory(x.territory)?.region[`name_${getLocale()}`] || __("undefined")}/${getTerritory(x.territory)?.city[`name_${getLocale()}`] || __("undefined")}` %></td>
                              <td class="small text-nowrap">
                                <a href="/dashboard/users/id/<%= getTerritory(x.territory).registrator?._id %>">
                                  <%= getTerritory(x.territory).registrator?.name %> <%= getTerritory(x.territory).registrator?.surname %>
                                </a>
                              </td>
                              <td class="small text-nowrap"><%= x.products.length %></td>
                              <% if (user.role === "admin") { %>
                                <td class="small text-nowrap">
                                  <div class="d-flex justify-content-center">
                                    <div class="dropdown d-flex align-items-center">
                                      <a href="#" class="btn btn-danger btn-sm" id="dropDownDeleteConfirm"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trash"></i></a>
                                      <div class="dropdown-menu p-3" aria-labelledby="dropDownDeleteConfirm">
                                        <h6 class="text-center"><%= __("areYouSureToDelete") %></h6>
                                        <div class="d-flex justify-content-center">
                                          <form method="POST" action="<%= api("warehouse/delete") %>" class="d-flex">
                                            <input type="hidden" name="id" value="<%= x._id %>">
                                            <button type="submit" class="btn btn-danger btn-sm mr-1"><%= __("yes") %></button>
                                          </form>
                                         
                                          <a class="btn btn-success btn-sm ml-1" href="#"><%= __("no") %></a>
                                        </div>
                                      </div>
                                    </div>
                                    <button data-target="#warehouse-edit-<%= i %>" data-toggle="collapse" class="btn btn-warning btn-sm ml-2 d-block"><i class="fas fa-edit"></i></button>
                                  </div>
                                </td>
                              <% } %>
                            </tr>
                            <% if (user.role === "admin") { %>
                              <tr id="warehouse-edit-<%= i %>" class="collapse">
                                <td colspan="5">
                                  <form method="POST" action="<%= api("warehouse/edit") %>">
                                    <input type="hidden" name="id" value="<%= x._id %>">
                                    <div class="row w-100">
                                      <div class="col-4">
                                        <label for="registrator" class="form-label"
                                          ><%= __("name") %></label
                                        >
                                        <input required type="text" class="form-control" name="name" id="name-input" value="<%= x.name %>"/>
                                      </div>
                                      <div class="col-4">
                                        <label for="region-input" class="form-label"
                                          ><%= __("territory") %> </label
                                        >
                                        <select required name="territory" id="region-input" class="custom-select">
                                          <% territories.forEach(y => { %>
                                            <option <% if (x.territory._id.equals(y._id)) { %>selected<% } %> value="<%= y._id %>"><%= y.region[`name_${getLocale()}`] %>/<%= y.city[`name_${getLocale()}`] %></option>
                                          <% }) %>
                                        </select>
                                      </div>
                                      <div class="col-4 d-flex align-items-end">
                                        <button type="submit" class="btn btn-success mr-2 text-uppercase"><%= __("save") %></button>
                                        <button type="button" data-toggle="collapse" data-target="#warehouse-edit-<%= i %>" class="btn btn-danger text-uppercase"><%= __("cancel") %></button>
                                      </div>
                                    </div>
                                  </form>
                                </td>
                              </tr>
                            <% } %>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            ><i class="fas fa-chevron-left"></i
                          ></a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#"
                            ><i class="fas fa-chevron-right"></i
                          ></a>
                        </li>
                      </ul>
                    </nav>
                  </div> -->
                </div>
              </div>
              <%- include('../../components/right-sidebar.ejs') %>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
