<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'transfers' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0">Transferlar</h6>
              <!-- <a href="#buy-product" data-toggle="collapse">
                Maxsulot sotib olish
                <i class="fas fa-plus"></i>
              </a> -->
            </div>
            <div class="row px-3">

              <!-- <div class="col-lg-12 dashboard__card collapse" id="buy-product">
                <div class="p-3 shadow-sm">
                  <h6 class="title-left-stick mb-3">Maxsulot sotib olish</h6>
                  <form>
                    <div class="d-flex flex-wrap align-items-center justify-content-around">
                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="warehouse-input"
                          >Omborni tanlang</label
                        >
                        <div class="input-group mb-3">
                          <select class="custom-select" name="warehouse" id="warehouse-input">
                            <option value="chilonzor">Chilonzor</option>
                            <option value="olmazor">Olmazor</option>
                          </select>
                        </div>
                      </div>
                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="product-input"
                          >Maxsulotni tanlang</label
                        >
                        <div class="input-group mb-3">
                          <select class="custom-select" name="product" id="product-input">
                            <option value="sirop">Sirop</option>
                            <option value="vitamin-b">Vitamin B</option>
                          </select>
                        </div>
                      </div>

                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="quantity-input"
                          >Soni</label
                        >
                        <div class="input-group mb-3">
                         <input class="form-control" type="number" min="1" name="quantity" id="quantity-input">
                        </div>
                      </div>

                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="money-amount-input"
                          >Jami Summa</label
                        >
                        <div class="input-group mb-3">
                         <input class="form-control" type="number" min="1" name="money-amount" id="money-amount-input">
                        </div>
                      </div>

                      <div>
                        <div class="input-group mb-3">
                          <button type="submit" class="btn btn-primary">Sotib olish</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div> -->

              <div class="col-lg-12 dashboard__card">
                <div class="p-3 shadow-sm">
                  <h6 class="title-left-stick mb-3">Transferlar qilish - [<%= __("balance") %>: <%= user.balance %>]</h6>
                  <form method="POST" action="<%= api("transfers/add") %>">
                    <div class="d-flex flex-wrap align-items-center justify-content-around">
                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="amount-input"
                          >Transfer miqdori</label
                        >
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-white"
                              >Summa</span
                            >
                          </div>
                          <input
                            type="number"
                            min="1"
                            max="<%= user.balance %>"
                            class="form-control"
                            id="amount-input"
                            placeholder="Kamida 5"
                            name="amount"
                            required
                          />
                        </div>
                      </div>
                      <i class="fas fa-exchange-alt mx-5 text-primary"></i>
                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="reciever-input"
                          >Qabul qiluvchi</label
                        >
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-info text-white"
                              ><%= __("email") %> </span
                            >
                          </div>
                          <input
                            type="email"
                            class="form-control"
                            id="reciever-input"
                            placeholder="example@mail.com"
                            name="email"
                            required
                          />
                        </div>
                      </div>
                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="reciever-input"
                          ><%= __("comment") %></label
                        >
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-info text-white"
                              ><%= __("comment") %> </span
                            >
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            name="comment"
                            required
                          />
                        </div>
                      </div>
                      <div>
                        <label
                          class="form-label h6 text-uppercase mb-3"
                          for="reciever-input"
                          >Tasdiqlash</label
                        >
                        <div class="input-group mb-3">
                          <button type="submit" class="btn btn-primary" <% if (!user.balance) { %>disabled<% } %>>Roziman</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-12 dashboard__card">
                <div class="p-3 shadow-sm">
                  <h6 class="title-left-stick mb-3">Transferlar tarixi</h6>
                  <table
                    class="table-striped table table-responsive-md custom-table table-hover"
                  >
                    <thead class="thead-light">
                      <tr>
                        <th scope="col"><%= __("users") %> </th>
                        <th scope="col"><%= __("comment") %></th>
                        <th scope="col"><%= __("date") %></th>
                        <th scope="col">
                          <%= __("amount") %>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% transactions.reverse().forEach(x => { %>
                        <tr>
                          <td>
                            <a href="/dashboard/users/id/<%= x.from._id %>" data-toggle="tooltip" data-placement="top" title="<%= x.from.name %> <%= x.from.surname %>">
                              <img
                              src="<%= x.from.photo %>"
                              class="square-50 rounded-circle object-fit-cover overflow-hidden"
                              alt="<%= x.from.name %>"/>
                            </a>
                            <i class="fas fa-angle-double-right text-success mx-2"></i>
                            <a href="/dashboard/users/id/<%= x.to._id %>" data-toggle="tooltip" data-placement="top" title="<%= x.to.name %> <%= x.to.surname %>">
                              <img
                              src="<%= x.to.photo %>"
                              class="square-50 rounded-circle object-fit-cover overflow-hidden"
                              alt="<%= x.to.name %>"/>
                            </a>
                          </td>
                          <td><%= x.comment %></td>
                          <td><%= new Date(x.createdAt).toLocaleString("ru") %></td>
                          <td>
                            <% if(x.from._id.equals(user._id)){ %>
                              <span class="text-danger"> <%= x.amount %> <%= __("ball") %></span>
                              <i class="fas fa-long-arrow-alt-up text-danger"></i>
                            <% } else{ %>
                              <span class="text-success"><%= x.amount %> <%= __("ball") %></span>
                              <i class="fas fa-long-arrow-alt-down text-success"></i>
                           <% } %>
                          </td>
                      <% }) %>
                      
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- <div class="col-lg-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a
                        class="page-link"
                        href="#"
                        tabindex="-1"
                        aria-disabled="true"
                        ><i class="fas fa-chevron-left"></i
                      ></a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#"
                        ><i class="fas fa-chevron-right"></i
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div> -->
            </div>
          </div>
        </div>
      </main>
    </div>

    <% if (locals.error) { %>
      <%- include('../../components/toast.ejs', {
        type: "danger",
        content: __(error)
      }) %> 
    <% } %>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
