<div
  id="team-members"
  class="section section--hidden home__carousel carousel slide"
  data-ride="carousel"
>
  <div class="carousel-inner mb-4">
    <% feedbacks.forEach((feedback, i) => { %>
      <div class="carousel-item <% if (i === 0) { %>active<% } %>">
        <div class="home__carousel-img">
          <img
            src="<%= feedback.photo %>"
            alt="<%= feedback.fullname %>"
            class="carousel-img w-100 h-100 object-fit-cover"
          />
        </div>
  
        <h5 class="home__carousel-name"><%= feedback.fullname %></h5>
        <em class="home__carousel-text">
          <%= feedback.description %> 
        </em>
      </div>
    <% }) %>
  </div>

  <ol class="home-carousel carousel-indicators position-relative">
    <% feedbacks.forEach((x,i) => { %>
      <li data-target="#team-members" data-slide-to="<%= i %>" class="<% if (i === 0) { %>active<% } %>"></li>
    <% }) %>
  </ol>
</div>
