<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="footer__info col-lg-4 col-md-6 col-sm-12">
        <a
          href="/"
          class="footer-text"
          >www.prokey.one
        </a>
        <p class="footer-address">
          <%= __("siteAddress") %>
        </p>

        <div class="footer-info">
          <p class="footer-tel">
            <i class="fas fa-phone"></i> +998 (91) 778-89-89
          </p>
          <p class="footer-tel">
            <i class="fas fa-phone"></i> +998 (99) 699-00-19
          </p>
          <p class="footer-email">
            <i class="fas fa-envelope"></i> info@progresskey.uz
          </p>
          <p class="footer-email">
            <i class="fab fa-telegram-plane"></i> +998 (99) 699-00-19
          </p>
        </div>

        <div class="footer-ishkun">
          <h4 class="ishkunlari-left"><%= __("workingHours") %></h4>
          <p class="ishkunlari-right">
            <%- __("siteWorkingHours") %>
          </p>
        </div>
        <p class="footer-huquq"><%= __("copyright") %></p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-md-center">
        <ul class="footer__menyu d-inline-block">
          <h3 class="footer-text"><%= __("menu") %></h3>
          <li class="footer-li">
            <a href="/" class="footer-menyu--link"><%= __("main") %></a>
          </li>
          <li class="footer-li">
            <a href="/products" class="footer-menyu--link"
              ><%= __("products") %></a
            >
          </li>
          <li class="footer-li">
            <a href="/local-shops" class="footer-menyu--link"
              ><%= __("localShops") %></a
            >
          </li>
          <li class="footer-li">
            <a href="/news" class="footer-menyu--link"
              ><%= __("news") %></a
            >
          </li>
          <li class="footer-li">
            <a href="/gallery" class="footer-menyu--link"><%= __("gallery") %></a>
          </li>
          <li class="footer-li">
            <a href="/contacts" class="footer-menyu--link"
              ><%= __("contacts") %> </a
            >
          </li>
        </ul>
      </div>

      <div class="footer__last col-lg-4 col-md-6 col-sm-12">
        <h3 class="footer-text"><%= __("socialNetworks") %></h3>
        <div class="footer__social-media">
          <a
            href="https://www.facebook.com/progresskey"
            target="_blank"
            class="facebook"
          >
            <i class="soc-icons fab fa-facebook"></i>
          </a>
          <a
            href="https://www.instagram.com/progresskey_/"
            target="_blank"
            class="instagram"
          >
            <i class="soc-icons fab fa-instagram"></i>
          </a>
          <a href="https://t.me/prokeyuzb" target="_blank" class="telegram">
            <i class="soc-icons fab fa-telegram"></i>
          </a>
          <!-- <a href="" class="twitter">
            <i class="soc-icons fab fa-twitter"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</footer>
