<div class="preloader">
  <div class="preloader__content">
    <div class="preloader__first"></div>
    <div class="preloader__second"></div>
    <div class="preloader__third"></div>
  </div>
</div>

<div class="navigation">
  <div class="container">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>
    <!-- Abduhamid uzgartirdi -->
    <div class="navigation__background">&nbsp;</div>

    <!-- //mobile -->
    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/" class="<% if (page === 'home') {%>active<%}%> navigation__link">
            <%= __('main')%></a>
        </li>
        <li class="navigation__item">
          <a href="/products" class="<% if (page === 'products') {%>active<%}%> navigation__link">
            <%= __('products')%></a>
        </li>
        <li class="navigation__item">
          <a href="/local-shops" class="<% if (page === 'local-shops') {%>active<%}%> navigation__link">Hududiy
            do'konlar</a>
        </li>
        <li class="navigation__item">
          <a href="/news" class="<% if (page === 'news') {%>active<%}%> navigation__link">Yangiliklar</a>
        </li>
        <li class="navigation__item">
          <a href="/gallery" class="<% if (page === 'gallery') {%>active<%}%> navigation__link">Galereya</a>
        </li>

        <li class="navigation__item">
          <a href="/contacts" class="<% if (page === 'contacts') {%>active<%}%> navigation__link">Kontakt</a>
        </li>
      </ul>
      <div class="nav-right d-flex flex-column">
        <div class="icons mb-3 d-flex align-items-center justify-content-center">
          <% if (locals.user) { %>
            <a href="/dashboard" class="lupa">
              <i class="fas fa-user-lock text-white"></i>
            </a>
            <% } %>
              <button class="dropdown-toggle text-uppercase" type="button" id="dropdownMenuButtonM"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= getLocale() %>
              </button>
              <div class="dropdown-menu" style="min-width: 50px" aria-labelledby="dropdownMenuButtonM">
                <% getLocales().forEach(el=> { %>
                    <% if (getLocale() !== el) { %>
                      <a class="dropdown-item text-uppercase" referrerpolicy="origin-when-cross-origin" href="/setlocale/<%= el %>">
                        <%= el %>
                      </a>
                    <% } %>
                  <% }) %>
              </div>
              <div class="admin_login">
                <a href="/login" class="admin"><i class="fas fa-user"></i></a>
              </div>
        </div>
        <div class="container">
          <form class="collapse show w-100 mb-3">
            <div class="d-flex">
              <div class="form-group w-100 mb-0">
                <input type="email" class="form-control w-100 h-100" placeholder="Qidirish..." />
              </div>
              <button type="submit" class="btn btn-primary ml-2">
                Qidirish
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="nav" id="main-nav">
  <div class="container">
    <div class="nav-logo">
      <a href="/"><img src="/img/logopresskeyuz.png" alt="logo" class="logo-img" /></a>
    </div>
    <ul class="nav-navigation mb-0">
      <li class="nav-item">
        <a href="/" class="<% if (page === 'home') {%>active<%}%> nav-link">
          <%= __('main') %>
        </a>
      </li>
      <li class="nav-item">
        <a href="/products" class="<% if (page === 'products') {%>active<%}%> nav-link">
          <%= __('products')%></a>
      </li>
      <li class="nav-item">
        <a href="/local-shops" class="<% if (page === 'local-shops') {%>active<%}%> nav-link">Hududiy do'konlar</a>
      </li>
      <li class="nav-item">
        <a href="/news" class="<% if (page === 'news') {%>active<%}%> nav-link">Yangiliklar</a>
      </li>
      <li class="nav-item">
        <a href="/gallery" class="<% if (page === 'gallery') {%>active<%}%> nav-link">Galereya</a>
      </li>
      <li class="nav-item">
        <a href="/contacts" class="<% if (page === 'contacts') {%>active<%}%> nav-link">Kontakt</a>
      </li>
    </ul>
    <div class="nav-right">
      <div class="nav-right-phone">
        <div class="nav-phone">
          <p class="tel mb-0">Telefon</p>
          <p class="phone mb-0">+998(71)258-36-69</p>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end">
        <% if (locals.user) { %>
          <a href="/dashboard" class="lupa">
            <i class="fas fa-user-lock text-white"></i>
          </a>
          <% } %>
            <button type="button" data-toggle="collapse" data-target="#search-bar" class="lupa btn">
              <i class="fas fa-search"></i>
            </button>
            <div class="dropdown ml-2">
              <button class="dropdown-toggle text-uppercase" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= getLocale() %>
              </button>
              <div class="dropdown-menu" style="min-width: 50px" aria-labelledby="dropdownMenuButton">
                <% getLocales().forEach(el=> { %>
                  <% if (getLocale() !== el) { %>
                    <a class="dropdown-item text-uppercase" referrerpolicy="origin-when-cross-origin" href="/setlocale/<%= el %>">
                      <%= el %>
                    </a>
                  <% } %>
                <% }) %>
              </div>
            </div>
            <div class="admin_login ml-2">
              <a href="/login" class="admin"><i class="fas fa-user"></i></a>
            </div>
      </div>
    </div>
  </div>
  <div class="container">
    <form id="search-bar" class="collapse w-100 mb-3">
      <div class="d-flex">
        <div class="form-group w-100 mb-0">
          <input type="email" class="form-control w-100 h-100" placeholder="Qidirish..." />
        </div>
        <button type="submit" class="btn btn-primary ml-2">Qidirish</button>
      </div>
    </form>
  </div>
</div>