<div class="yangilik-card shadow-sm mb-3">
  <div class="card-img">
    <img src="<%= img %>" alt="<%= title %>" />
  </div>
  <div class="yangilik-card-content">
    <h3>
      <%= title %> 
    </h3>
    <p>
      <%= description %> 
    </p>
    <div class="yangilik-bottom">
      <div class="yangilik-bottom--left">
        <i class="fas fa-calendar-edit"></i>
        <p class="yangilik-date"><%= new Date(createdAt).toLocaleDateString("ru") %></p>
                <i class="fas fa-clock"></i>
                <p class="yangilik-time"><%= new Date(createdAt).toLocaleTimeString("ru") %></p>
      </div>
      <a href="/news/<%= id %>" class="yangilik-bottom--right"
        ><%= __("moreInfo") %>...</a
      >
    </div>
  </div>
</div>