<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'news' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0">
                Yangi xaridor qo'shish
              </h6>
            </div>
            <div class="row px-3">
              <div class="col-lg-12 my-3">
                <div class="dashboard__card bg-white p-3 rounded mx-n3">
                  <form method="POST" enctype="multipart/form-data" action="<%= api("news/edit") %> ">
                    <input type="hidden" name="id" value="<%= news._id %>">
                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">Malumotlar</h6>
                      <div class="row">
                        <div class="col-lg-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span
                                class="input-group-text bg-success text-white"
                                >Sarlavha</span
                              >
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Maxulot nomi"
                              name="title"
                              value="<%= news.title %>"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span
                                class="input-group-text bg-success text-white"
                                >Qisqa ta'rif</span
                              >
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Qisa ta'rif"
                              name="shortDescription"
                              value="<%= news.shortDescription %>"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">Rasm</h6>
                      <div class="row">
                        <div class="col-12">
                          <div class="file-loading">
                            <input
                              data-count="1"
                              data-images="<%= news.photo %>"
                              id="input-news-images"
                              name="photo"
                              type="file"
                              accept="image/*"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">Yangilik ta'rifi</h6>
                      <div class="row">
                        <div class="col-lg-12">
                          <textarea
                            name="description"
                            id="product-description"
                          ><%= news.description %> </textarea>
                        </div>
                      </div>
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary text-uppercase"
                    >
                      Saqlash
                    </button>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/main.js"></script>
  </body>
</html>
