<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= title %> </title>
  </head>
  <body>
    <%- include('../components/nav.ejs', {page: 'news'}) %>

   <div class="container">
    <div class="news_main_body pt-5">
      <div class="row">
        
        <div class="col-lg-8 col-md-12 mb-3 mb-lg-0">
          <div class="news_first_sec_carousel h-100">
            <div
              id="yangiliklar_carousel"
              class="carousel slide h-100"
              data-ride="carousel"
            >
              <ul class="carousel-indicators mb-0">
                <li
                  data-target="#yangiliklar_carousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#yangiliklar_carousel" data-slide-to="1"></li>
                <li data-target="#yangiliklar_carousel" data-slide-to="2"></li>
              </ul>
  
              <div class="carousel-inner h-100">
                <div class="carousel-item active h-100">
                  <img
                    class="carousel_pic"
                    src="/img/news1.jpg"
                    alt="Los Angeles"
                  />
                  <div class="carousel-caption">
                    <a href="/news/5">
                      "Orzu O'g'rilar" treningini seminar 
                    </a>
                  </div>
                </div>
  
                <div class="carousel-item h-100">
                  <img
                    class="carousel_pic"
                    src="/img/news2.jpg"
                    alt="Los Angeles"
                  />
                  <div class="carousel-caption">
                    <a href="/news/5">
                      Bibisara opa Yusupova bilan suhbat 
                    </a>
                  </div>
                </div>
  
                <di v class="carousel-item h-100">
                  <img
                    class="carousel_pic"
                    src="/img/news3.jpg"
                    alt="Los Angeles"
                  />
                  <div class="carousel-caption">
                    <a href="/news/5">
                      4-6 may kunlari yurtimizning tog' you bag'rlarida kompaniyamizning ilk dam olish seminari bo'lib o'tti. 
                    </a>
                  </div>
                </di>
              </div>
  
              <a
                class="carousel-control-prev"
                href="#yangiliklar_carousel"
                data-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a
                class="carousel-control-next"
                href="#yangiliklar_carousel"
                data-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 d-flex flex-wrap justify-content-center">
          <div class="news_first_sec_pic">
            <img
              class="pic_par"
              src="/img/news4.jpg"
              alt="Los Angeles"
            />
            <a href="/news/5" class="bottom_center">       
                ProgressKey oilasi tog' seminarida 
            </a>
          </div>
  
          <div class="news_first_sec_pic">
            <img
              class="pic_par"
              src="/img/news5.jpg"
              alt="Los Angeles"
            />
            <a href="/news/5" class="bottom_center">
              Surxondaryo liderlari
            </a>
          </div>
        </div>
      </div>
      <h5 class="my-4 font-weight-bold">So'ngi yangiliklar</h5>

      
      <div class="row">
        
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news5.jpg",
            title: "Surxondaryo liderlari",
            description: "Surxondaryo viloyati liderlari Kompaniyamizning eksklyuziv mahsulotlarini qabul qilib olishdi."
          }) %> 
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news6.jpg",
            title: "Farg'ona liderlari",
            description: "Farg'ona viloyati liderlari Kompaniyamiz mahsulotlarini qabul qilib olishdi."
          }) %> 
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news7.jpg",
            title: "Farg'ona liderlari natijalari",
            description: "Farg'ona viloyati liderlari mahsulotlarni olishdan mamnun bo'lishdi. Natijalar sari olg'a."
          }) %> 
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news8.jpg",
            title: "Buxoro viloyati liderlari",
            description: "Buhoro viloyati lideri bn ijobiy taqdimot jarayoni."
          }) %> 
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news1.jpg",
            title: "\"Orzu O'g'rilar\" treningini seminar",
            description: "Tog' seminarimizda, kompaniyamizning direktori, kuchli spiker, marketolog Shikhnazar Ruzmetov o'zining avtorlik  \"Orzu O'g'rilar\" treningini seminar qatnashchilariga o'tib berdi. Hamma ishtirokchilar birdamlikda katta kuch borligini yana bir marotaba xis qilishdi."
          }) %> 
        </div>       
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news2.jpg",
            title: "Bibisara opa Yusupova bilan suhbat",
            description: "Qoraqalpog'iston Respublikasida Nukusning eng kuchli lideri, parapsixolog,moderator Bibisara opa Yusupova vrachlarga kompaniyamiz mahsulotlari va imkoniyatlari to'g'risida ma'lumot berishdi. Judayam maroqli suhbat bo'ldi."
          }) %> 
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news3.jpg",
            title: "4-6 may kunlari yurtimizning tog' you bag'rlarida kompaniyamizning ilk dam olish seminari bo'lib o'tti.",
            description: "4-6 may kunlari yurtimizning tog' you bag'rlarida kompaniyamizning ilk dam olish seminari bo'lib o'tti. Unda Qoraqalpog'iston Respublikasi, Farg'ona viloyati, Surxondaryo violation hamda Toshkent viloyati liderlari ishtirok etishdi. Seminarians kompaniyamizning kelgusidagi 3-4 yillik rejalari haqida fikr almashinildi."
          }) %> 
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%- include('../components/news-item.ejs', {
            img: "/img/news4.jpg",
            title: "ProgressKey oilasi tog' seminarida",
            description: "ProgressKey oilasi tog' seminarida maza qilib dam olishdi.  Undan tashqari  3 kunlik seminar qatnashchilariga sovg'a salomlar berildi. Eng katta sovg'a Bilim ekanligi yana bir marotaba tasdiqini topdi."
          }) %> 
        </div>
      </div>

    </div>
   </div>
    <%- include('../components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
  </body>
</html>
