<div class="user-card p-3">
  <!-- ADD mb-3 -->
  <div class="d-flex top">
    <div class="img-wrapper square-50 rounded">
      <img src="<%= photo %> " alt="Put name here" />
    </div>
    <div>
      <h4><%= name %> <%= surname %></h4>
      <p><a href="/dashboard/users/id/<%= _id %>" class="small overflow-hidden"><%= email %></a> </p>
      <p>Status: <%= __(status) %> </p>
    </div>
  </div>
  <% if (followers.length) { %>
    <div class="mb-3">
      <h5>Qo'shgan profillari</h5>
      <div class="added-users">
        <% for( let i = 0; i < 4; i++ ) { %>
          <% if (followers[i]) { %>
            <a href="/dashboard/users/id/<%= followers[i]._id %>" class="img-wrapper">
              <img src="<%= followers[i].photo %>" alt="<%= followers[i].name %>"/>
            </a>
          <% } %>
        <% } %>
        
        <% if (followers.length > 4) { %>
          <a href="/dashboard/users?following=<%= email %>" class="img-wrapper"><%= followers.length - 4 %></a>
        <% } %>
        
      </div>
    </div>
  <% } %>
  <!-- <div class="mb-3">
    <div class="d-flex align-items-center justify-content-between mb-1">
      <h5 class="mb-0">Faolligi</h5>
      <span>54%</span>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="54%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div> -->
</div>
