<div class="user-card p-3">
  <!-- ADD mb-3 -->
  <div class="d-flex top">
    <div class="img-wrapper square-50 rounded">
      <img src="<%= photo %> " alt="Put name here" />
    </div>
    <div>
      <h4><%= name %> <%= surname %></h4>
      <p>ID: <%= __v %> </p>
      <p>Lavozim: <%= role %> </p>
    </div>
  </div>
  <!-- <div class="mb-3">
    <h5>Qo'shgan profillari</h5>
    <div class="added-users">
      <a href="#link-to-user" class="img-wrapper"
        ><img src="img/slide-2.jpg" alt="Put name here"
      /></a>
      <a href="#link-to-user" class="img-wrapper"
        ><img src="img/slide-2.jpg" alt="Put name here"
      /></a>
      <a href="#link-to-user" class="img-wrapper"
        ><img src="img/slide-2.jpg" alt="Put name here"
      /></a>
      <a href="#link-to-user" class="img-wrapper"
        ><img src="img/slide-2.jpg" alt="Put name here"
      /></a>
      <a href="#link-to-user" class="img-wrapper"
        ><img src="img/slide-2.jpg" alt="Put name here"
      /></a>
      <a href="#link-to-all-user" class="img-wrapper">+40</a>
    </div>
  </div> -->
  <!-- <div class="mb-3">
    <div class="d-flex align-items-center justify-content-between mb-1">
      <h5 class="mb-0">Faolligi</h5>
      <span>54%</span>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="54%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div> -->
</div>
