<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'banners' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0">Bannerlar</h6>
              <a href="#banner-add" data-toggle="collapse">
                Yangi qo'shish
                <i class="fas fa-plus"></i>
              </a>
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <div class="row">
                  <div class="col-lg-12 dashboard__card collapse" id="banner-add">
                    <div class="p-3 shadow-sm">
                      <form method="POST" enctype="multipart/form-data" action="<%= api("banners/add") %> ">
                        <div class="mb-4">
                          <h6 class="title-left-stick mb-3">Malumotlar</h6>
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span
                                    class="input-group-text bg-success text-white"
                                    >Sarlavha</span
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Banner nomi"
                                  name="title"
                                  required
                                />
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span
                                    class="input-group-text bg-success text-white"
                                    >URL</span
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Banner url"
                                  name="url"
                                  required
                                />
                              </div>
                            </div>

                            <div class="col-12">
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span
                                    class="input-group-text bg-success text-white"
                                    >Ta'rif</span
                                  >
                                </div>
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Banner ta'rifi"
                                  name="description"
                                />
                              </div>
                            </div>

                          </div>
                        </div>
    
                        <div class="mb-4">
                          <h6 class="title-left-stick mb-3">Rasm</h6>
                          <div class="row">
                            <div class="col-12">
                              <div class="file-loading">
                                <input
                                  data-count="1"
                                  id="input-banner-images"
                                  name="photo"
                                  type="file"
                                  accept="image/*"
                                  required
                                />
                              </div>
                            </div>
                          </div>
                        </div>
  
  
                        <button
                          type="submit"
                          class="btn btn-primary text-uppercase"
                        >
                          Saqlash
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-12 dashboard__card">
                    <div class="p-3 shadow-sm">
                        <h6 class="title-left-stick mr-4 mb-3">Bannerlar</h6>
                       
                      
                      <table
                        class="table table-responsive-md custom-table table-hover table-borderless table-sm"
                      >
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Rasm</th>
                            <th scope="col">Sarlavha</th>
                            <th scope="col">Ta'rif</th>
                            <th scope="col">URL</th>
                            <th scope="col">Amallar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% banners.forEach(banner => { %>
                           
                          <tr>
                            <td>
                              <img
                              src="<%= banner.photo %>"
                              height="50"
                              class="square-50 img-thumbnail object-fit-contain"
                              alt="<%= banner.title %>"
                            />
                            </td>
                            <td><%= banner.title %></td>
                            <td><%= banner.description %></td>
                            <td><%= banner.url %></td>
                            <td>
                              <div class="d-flex justify-content-center">
                                <div class="dropdown d-flex align-items-center">
                                  <a href="#" class="btn btn-danger btn-sm" id="dropDownDeleteConfirm"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trash"></i></a>
                                  <div class="dropdown-menu p-3" aria-labelledby="dropDownDeleteConfirm">
                                    <h6 class="text-center">Ushbu bannerni o'chirishni tasdiqlaysizmi?</h6>
                                    <div class="d-flex justify-content-center">
                                      <form method="POST" action="<%= api("banners/delete") %>" class="d-flex">
                                        <input type="hidden" name="id" value="<%= banner._id %>">
                                        <button type="submit" class="btn btn-danger btn-sm mr-1">HA</button>
                                      </form>
                                      <a class="btn btn-success btn-sm ml-1" href="#">YO'Q</a>
                                    </div>
                                  </div>
                                </div>
                                <a href="/dashboard/banners/id/<%= banner._id %>" class="btn btn-warning btn-sm ml-2 d-block"><i class="fas fa-edit"></i></a>
                              </div>
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            ><i class="fas fa-chevron-left"></i
                          ></a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#"
                            ><i class="fas fa-chevron-right"></i
                          ></a>
                        </li>
                      </ul>
                    </nav>
                  </div> -->
                </div>
              </div>
              <%- include('../../components/right-sidebar.ejs') %>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
