<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= title %> </title>
  </head>
  <body>
    <%- include('../components/nav.ejs', {page: 'products'}) %>

    <main class="mt-4">
      <div class="section section--hidden py-5">
        <div class="container">
          <ul class="nav nav-tabs home-royxat" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="recently-added-tab"
                data-toggle="tab"
                href="#recently-added"
                role="tab"
                aria-controls="recently-added"
                aria-selected="true"
                ><%= __("recentlyAdded") %></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="top-products-tab"
                data-toggle="tab"
                href="#top-products"
                role="tab"
                aria-controls="top-products"
                aria-selected="false"
                ><%= __("topProducts") %></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="most-sold-products-tab"
                data-toggle="tab"
                href="#most-sold-products"
                role="tab"
                aria-controls="most-sold-products"
                aria-selected="false"
                ><%= __("mostSold") %></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="popular-products-tab"
                data-toggle="tab"
                href="#popular-products"
                role="tab"
                aria-controls="popular-products"
                aria-selected="false"
                ><%= __("popularProducts") %></a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="recently-added"
              role="tabpanel"
              aria-labelledby="recently-added-tab"
            >
              <%- include('../components/products.ejs', {products}) %>
            </div>
            <div
              class="tab-pane fade"
              id="top-products"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <%- include('../components/products.ejs', {products}) %>
            </div>
            <div
              class="tab-pane fade"
              id="most-sold-products"
              role="tabpanel"
              aria-labelledby="most-sold-products-tab"
            >
              <%- include('../components/products.ejs', {products}) %>
            </div>
            <div
              class="tab-pane fade"
              id="popular-products"
              role="tabpanel"
              aria-labelledby="popular-products-tab"
            >
              <%- include('../components/products.ejs', {products}) %> 
          </div>
        </div>
      </div>
    </main>

    <%- include('../components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
  </body>
</html>
