<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'territories' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0"> <%= __("territories") %> </h6>
              
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <div class="row">
                  <div class="col-lg-12 dashboard__card">
                    <div class="p-3 shadow-sm">
                      <h6 class="title-left-stick mb-3"><%= __("addTerritory") %> </h6>
                      <form method="POST" action="<%= api("territories/add") %>">
                        <div class="row">
                          <div class="col-lg-3 col-md-6 col-sm-12">
                            <label for="region-input" class="form-label"
                              ><%= __("region") %> </label>               
                            <select required name="region" id="region-input" class="custom-select" onchange="window.location.href = `/dashboard/territories/add/${this.value}`">
                              <% regions.forEach(x => { %>
                                <option value="<%= x.id %>" <% if (x.id === regionId) { %>selected<% } %>><%= x[`name_${getLocale()}`] %></option>
                              <% }) %>
                            </select>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12">
                            <label for="region-input" class="form-label"
                              ><%= __("city") %> </label>               
                            <select multiple required name="city" id="region-input" class="custom-select">
                              <option value="*" selected>-- <%= __("all") %> --</option>
                              <% cities.forEach(x => { %>
                                <option value="<%= x.id %>"><%= x[`name_${getLocale()}`] %></option>
                              <% }) %>
                            </select>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12">
                            <label for="registrator" class="form-label"
                              ><%= __("mapUrl") %> </label
                            >
                           <input required type="text" name="mapUrl" class="form-control" name="warehouseName" id="name-input"/>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-end">
                            <button type="submit" class="btn btn-success">SAQLASH</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <%- include('../../components/right-sidebar.ejs') %>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
